html, body, .app {
    height: 100vh;
    background: #eee;
    padding: 1em;
}

i.icon.add:before {
    cursor: pointer;
}

.justforfun {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 8px;
}